<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/corazon.ico">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/terminos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Recupera tu Felicidad</title>
</head>

<body>
    
    <div class="container">
        <h1>Recupera Tu Felicidad</h1>
        <h2>Terminos y condiciones</h2>
        <span><a href="https://recuperandolafelicidad.com">www.recuperandolafelicidad.com</a> es una web orientada en ayuda espiritual.</span>
        <p class="term">El resultado de los distintos trabajos puede variar de persona en persona y de acuerdo a cada caso en particular
        La foto es meramente ilustrativa para mantener en el anonimato nuestros datos personales.
        La consulta es gratuita. El pago que usted realiza es bajo su voluntad, por lo cual nos desligamos de todo reclamo.</p>
        <p class="term">ACLARACION: La totalidad de los profesionales que forman parte del equipo de <a href="https://recuperandolafelicidad.com">www.recuperandolafelicidad.com</a>, están
        registrados bajo un nombre de fantasía y utilizan imágenes que resultan meramente ilustrativas.</p>
    </div>

</body>

</html>